
#error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #010101;
    font-weight: lighter;
    color: white;
}

#error span {
    font-size: 3rem;
}