
.negro {
  color: #010101;
}

.button {
  position: relative;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border: 2px solid black;
}

body {
    margin: 0 auto;
    font-family: "Big Shoulders Text", serif;
    width: 80%; 
}

#root {
  min-height: 100vh;
}
 /*
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
}*/

main h1 {
  font-size: 8rem;
  line-height: 110px;
  margin-bottom: 50px;
}

.no-items {
  font-size: 1.5rem;
  color: #666;
}



/*
form {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}



.form-field label {
  font-size: 1.2rem;
  font-weight: 500;
}

#register {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
}
*/

.register h1 {
  opacity: 0.1;
  transform: ;
}
.register h2 {
  font-size: 5rem;
} 
.register p {
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}


footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  bottom: 0;
}






.swiper-hero {
  width: 100%;
}

.swiper-hero .swiper-slide {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 70%;
}

.swiper-hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

@media (min-width: 1024px) {
  .swiper-hero img {
  }
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
  --swiper-navigation-size: 20px;
  background-color: white;
  height: 70px;
  width: 50px;
  margin-top: -35px;

  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-hero .swiper-button-prev {
  border-radius: 0 65px 65px 0;
  left: -10px;
}
.swiper-hero .swiper-button-next {
  border-radius: 65px 0 0 65px;
  right: -10px;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
  opacity: 1;
}

.swiper-hero .swiper-pagination {
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-hero .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}

.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}


.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}







.collage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.collage-item {
  overflow: hidden;
}

.collage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
