@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.negro {
  color: #010101;
}
.text-black {
  color: #010101 !important;
}
.bg-black {
  background-color: #010101 !important;
}

.menu-desplegable {
  color: black !important;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.button {
  position: relative;
  background-color: #010101;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  width: auto;
  text-align: center;
  border: 2px solid #010101;
}
.button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}


.button-google {
  position: relative;
  background-color: #010101;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid #010101;
  cursor: pointer;
  color: white;
}

.button-apple {
  position: relative;
  background-color: #010101;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid #010101;
  cursor: pointer;
  color: white;
}


.error {
  color: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Big Shoulders Text", serif;
    width: 100%; 
    overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
 /*
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
}*/

h1 {
  font-size: 3rem;
}

.no-items {
  font-size: 1.5rem;
  color: #666;
}



/*
form {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}



.form-field label {
  font-size: 1.2rem;
  font-weight: 500;
}

#register {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
}
*/

.register h1 {
  opacity: 0.1;
}
.register h2 {
  font-size: 5rem;
} 
.register p {
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}



.collage-item img {
  opacity: 0.8;
}

.collage-item img:hover {
  cursor: crosshair;
  opacity: 1;
  transform: scale(1.1);
}


footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  bottom: 0;
}






.swiper-hero {
  width: 100%;
}

.swiper-hero .swiper-slide {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 70%;
}

.swiper-hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

@media (min-width: 1024px) {
  .swiper-hero img {
  }
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
  --swiper-navigation-size: 20px;
  background-color: white;
  height: 70px;
  width: 50px;
  margin-top: -35px;

  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-hero .swiper-button-prev {
  border-radius: 0 65px 65px 0;
  left: -10px;
}
.swiper-hero .swiper-button-next {
  border-radius: 65px 0 0 65px;
  right: -10px;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
  opacity: 1;
}

.swiper-hero .swiper-pagination {
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #010101;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-hero .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}

.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}


.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}






.swiper-banner {
  width: 100%;
}

.swiper-banner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 100%;
}

.swiper-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

@media (min-width: 1024px) {
  .swiper-banner img {
  }
}

.swiper-banner .swiper-button-prev,
.swiper-banner .swiper-button-next {
  --swiper-navigation-size: 20px;
  background-color: white;
  height: 70px;
  width: 50px;
  margin-top: -35px;

  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-banner .swiper-button-prev {
  border-radius: 0 65px 65px 0;
  left: -10px;
}
.swiper-banner .swiper-button-next {
  border-radius: 65px 0 0 65px;
  right: -10px;
}

.swiper-banner:hover .swiper-button-prev,
.swiper-banner:hover .swiper-button-next {
  opacity: 1;
}

.swiper-banner .swiper-pagination {
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #010101;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-banner .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}

.swiper-banner .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}


.swiper-banner .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.swiper-banner .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

















.collage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3px;
}

.collage-item {
  overflow: hidden;
}

.collage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.moving-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  
}

.moving-text h6 {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.moving-text h6.active {
  display: block;
}



.marcas img:hover {
  cursor: pointer;
  opacity: 0.8;
}