@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

/* ESTILOS GLOBALES */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  width: 100%;
  overflow-x: hidden;
}

.text-black {
  color: #010101 !important;
}

.bg-black {
  background-color: #010101 !important;
}

.button {
  position: relative;
  background-color: #010101;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  width: auto;
  text-align: center;
  border: 1px solid #010101;
}

.button-white {
  position: relative;
  background-color: white;
  color: #010101;
  padding: 15px 20px;
  text-decoration: none;
  width: auto;
  text-align: center;
  border: 1px solid #010101;
}

.button:hover {
  background-color: white;
  border: 1px solid #010101;
  color: #010101;
  text-decoration: none;
}

.button-password {
  position: relative;
  background-color: #010101;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  width: auto;
  text-align: center;
  border: 1px solid #010101;
}

.button-password:hover {
  border: 2px solid #ffffff;
  filter: invert(1);
}


.button-google,
.button-apple {
  position: relative;
  background-color: #010101;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid #010101;
  cursor: pointer;
}

.error {
  color: red;
}

/* ESTILOS HEADER Y FOOTER */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.texto-footer {
  text-align: center;
  font-size: 15rem;
  font-weight: 800;
  position: relative;
  bottom: 0;
  line-height: 0.8;
  padding: 0;
  margin: 0;
  color: white;
  margin-bottom: -100px;
  overflow: hidden;
  transform: skewX(-10deg);
}

/* ESTILOS HOME */

.negro {
  color: #010101;
}

.bg-negro {
  background: #010101;
}

.menu-desplegable {
  color: #010101 !important;
}

.info:hover {
  cursor: pointer;
  background-color: #010101;
  color: white;
}

.info img:hover {
  filter: brightness(0) invert(1);
}

.button-yeezy {
  color: white;
  box-shadow: 3px 3px 0px #fff;

}

.button-yeezy:hover {
  color: #010101;
  background: white;
  box-shadow: 5px 5px 0px #51423B, 10px 10px 0px #EE5538;
  transition: 1s;
}

.button-nocta {
  box-shadow: 3px 3px 0px #010101;
  border: 2px solid white;
  transition: 1s;
}


.marcas::before {
  content: " ";
  padding: 60px 90px;
  background: #eeecec;
  position: absolute;
  left: 20%;
  top: 35%;
  border-radius: 50px;
  z-index: -123;
}

.marcas:hover {
  transform: scale(1.05);
  transition: 1s;
}


.moving-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.moving-text h6 {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.moving-text h6.active {
  display: block;
}


.message {
  position: absolute;
  font-size: 1.5rem;
  color: #010101;
  background-color: white;
  padding: 20px 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
  z-index: -4;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    display: block;
    z-index: 45;
  }

  50% {
    opacity: 1;
    display: block;
    z-index: 45;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  justify-content: start;
}

.imagen-producto-detail {
  width: 100%;
  height: auto;
  padding: 30px;
  object-fit: contain;
  max-height: 500px;
  outline: 1px solid #010101;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.3s;
}


.swiper-hero .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  outline: 1px solid #010101;
  background-color: rgb(255, 255, 255);
  color: #010101;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.swiper-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0;
}


.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next,
.swiper-banner .swiper-button-prev,
.swiper-banner .swiper-button-next {
  --swiper-navigation-size: 20px;
  background-color: white;
  height: 70px;
  width: 50px;
  margin-top: -35px;
  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next,
.swiper-banner:hover .swiper-button-prev,
.swiper-banner:hover .swiper-button-next {
  opacity: 1;
}

.swiper-hero .swiper-pagination,
.swiper-banner .swiper-pagination {
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #010101;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-hero .swiper-pagination-bullet,
.swiper-banner .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}

.swiper-hero .swiper-pagination-bullet-active,
.swiper-banner .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

/* ESTILOS REGISTRO */
.register h1 {
  opacity: 0.1;
}

.register h2 {
  font-size: 5rem;
}

.register p {
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

/* ESTILOS PRODUCTOS */

.producto-card {
  outline: 1px solid #010101;
  transition: all 0.3s ease;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.producto-card img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 200;
}

.producto-img:hover {
  transform: rotateY(180deg);
}

.searchInput {
  border: 2px solid #010101;
  outline: none;
  padding: 5px;
}

.searchInput:focus,
.form-select:focus {
  box-shadow: -5px 5px 0px #010101;
  transition: 1s;
}





.imagen-producto-home:hover {
  transform: rotateY(180deg);
}






details {
  font-size: 1.3rem;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ffffffaf;
}

summary:hover {
  color: #565656d5;
}

summary {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::after {
  content: '\25B6';
  font-size: 1rem;
  margin-left: 10px;
  transition: transform 0.5s ease;
}

details[open] summary::after {
  transform: rotate(90deg);
}

summary {
  font-weight: 600;
  cursor: pointer;
}


/* COLORES PRODUCTOS */
.blanco-color {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.negro-color {
  background-color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.gris-color {
  background-color: #BCBBB2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.morado-color {
  background-color: #614A82;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}


.beige-color {
  background-color: #83725E;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.naranja-color {
  background-color: #D55820;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.marrón-color {
  background-color: #41352E;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.rojo-color {
  background-color: #900C20;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.violeta-color {
  background-color: #3C2358;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.dorado-color {
  background-color: #BEAD7C;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.verde-color {
  background-color: #8BA28C;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.azul-color {
  background-color: #223595;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.amarillo-yeezy-color {
  background-color: #BDD56A;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.amarillo-color {
  background-color: #D4A600;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.ocre-color {
  background-color: #AD8253;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.sulfur-color {
  background-color: #D3C18A;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.wave-color {
  background-color: #8F8D89;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;

}

.granite-color {
  background-color: #454545;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.resin-color {
  background-color: #9FB15D;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}


.bone-color {
  background-color: #E3DDC3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.dark-color {
  background-color: #3B3B39;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.mocha-color {
  background-color: #5F4C3E;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.slate-color {
  background-color: #A7A296;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.oil-green-color {
  background-color: #9A9B77;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.navy-color {
  background-color: #293554;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.khaki-color {
  background-color: #CBBEA2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}

.olive-color {
  background-color: #5F592B;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #afafaf;
}













.cart {
  padding: 35px;
  margin: 10px;
}

.message-cart {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  color: #010101;
  border: 1px solid #010101;
  padding: 50px 70px;
  z-index: 10000;
  margin: 10px;
}